<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>


      <div class="add-phone-container">
        <h3>Add a New Phone</h3>
        <form role="form" ng-submit="addPhone()" name="addPhoneForm">
          <label>Name</label>
            <input type="text" ng-model="newPhone.name" required> 
          <label>Image URL</label>
            <input type="url" ng-model="newPhone.imageUrl" required>
          <label>Carrier</label>
            <input type="text" ng-model="newPhone.carrier" required>
          <label>Snippet</label>
            <input type="text" ng-model="newPhone.snippet" required>
          <button type="submit" class="btn btn-success btn-sm" ng-disabled="!addPhoneForm.$valid">Add Phone</button>
        </form>
      </div>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <phone-list></phone-list>
      <!-- <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">  
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          <i class="fa fa-2x fa-times delete-phone" ng-click="deletePhone(phone)"></i>
        </li>
      </ul>
 -->
    </div>
  </div>
</div>
